.ColorPicker {
    display: flex;
    justify-content: space-evenly;

    h1 {
        color: red;
    }

    button {
        border-radius: 25%;
        height:10vh;
        width:20vw;
        text-align: center;
    }

    div {
        text-align: center;
        background-color: blue;
        height:10vh;
        width:10vw;
    }

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .blue {
        background-color: blue;
    }
}